<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the developer for any queries about this app at 
  <a href="mailto:georgemason321@hotmail.com?Subject=AClarkRailsSampleSite" target="_top">georgemason321@hotmail.com</a>
</p>