<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Any help needed in site navigation, development practices or bug reports visit the 
  <%= link_to "Contact page", contact_path %> to get in touch with the admin.
</p>
<p>
  This site is just a sample demo of development ability, you can visit the real car trading website 
  <a href="https://www.arnoldclark.com/">at this link</a>.
</p>