<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.arnoldclark.com/">Arnold Clark</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <br><br>
  
  <div class="container">
    <div class="col-sm-3">

      <div class="form-group">
	    <label for="makes">Make:</label>
	    <select class="form-control" id="makes">
	      <option>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	    </select>
	  </div>

    </div>

    <div class="col-sm-3">

      <div class="form-group">
	    <label for="models">Model:</label>
	    <select class="form-control" id="models">
	      <option>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	    </select>
	  </div>

    </div>
 
    <div class="col-sm-2">

      <div class="form-group">
	    <label for="minprice">Minimum price(£):</label>
	    <input type="number" class="form-control" id="minprice">
	  </div>

    </div>
  
    <div class="col-sm-2">

      <div class="form-group">
	    <label for="maxprice">Maximum price(£):</label>
	    <input type="number" class="form-control" id="maxprice">
	  </div>

    </div>

    <div class="col-sm-2"><br>

      <%= link_to "Search cars!", signup_path, class: "btn btn-lg btn-primary" %>

    </div>

  </div>


</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<%= link_to image_tag("AClarkLogo.jpg", alt: "Arnold Clark logo", :size => '110x110'), 'https://www.arnoldclark.com/' %>